<div ng-if="menu.isEmpty()">Nothing found</div>
<ul class="list-unstyled">
  <li ng-repeat="item in menu.items">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>{{item.name}}</h1>
        <h3>
          <span class="label label-primary">{{item.id}}</span>
          <span class="label label-warning">{{item.short_name}}</span>
        </h3>
        <p>{{item.description}}</p>
        <p>
          <span class="label label-success">Low Price {{item.price_small | currency }}</span>
          <span class="label label-success">Large Price {{item.price_large | currency }}</span>
        </p>
        <p>
          <span class="label label-danger">Low Portion {{item.small_portion_name}}</span>
          <span class="label label-danger">Large Portion {{item.large_portion_name}}</span>
        </p>
        <button class="btn btn-primary" ng-click="menu.onRemove({index: $index});">Remove Item</button>
      </div>
    </div>
  </li>
</ul>
